/* 	---------
	General CSS
	--------- */

body{
	font-family: 'Open Sans Condensed', sans-serif,helvetica ;
}

div.note {
	padding-top: 15px;
	width:45%;
	margin:0 auto;
	min-width: 300px;
}

header{
	margin-bottom: 15px;
	font-size: 3.1em;
}

article {
	font-size: 26px;
}

*:focus {
 outline: 0;
}

/* 	---------
	Menu & Icons
	--------- */

#menu{
	position: fixed;
	top: 1em;
	right:1em;
	height: 500px;
	width: 50px;
}

#fontmenu{
	position: fixed;
	top:84px;
	right: 3em;
	height: 24px;
	width: 60px;
	float: left;
}

#github{
	position: fixed;
	bottom:1em;
	right:1em;
}

.icon-menu{
	margin:0 auto;
}

.icon{
	height: 24px;
	width: 24px;
	opacity: 0.2;
	margin-bottom: 10px;
}

.icon:hover{
	opacity:1;
	cursor: pointer;
}


/* 	---------
	Events
	--------- */
.day-mode {
	color:black;
	background-color: white;
	transition: background-color 1s, color 1s;
}

.night-mode{
	color:white;
	background-color: #151515;
	transition: background-color 1s, color 1s;
}

.font-icon{
	float:left;
}

.invert{
	filter: invert(100%);
	-webkit-filter:invert(100%);
}